name: video_js
description: Video Library for Flutter, Easily use famuse video.js in flutter web
version: 0.0.1
homepage: https://github.com/mojtabaghiasi/video_js
issue_tracker: https://github.com/mojtabaghiasi/video_js/issues

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.6.3

flutter:
  plugin:
    platforms:
      web: